{% extends "template/base.html" %}

{% block title %}견적서(을지) - SYNEX+{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/page/quotation/general/quotation_detailed.css') }}">
{% endblock %}

{% block content %}
<div class="quotation-cover-page">
    <div class="cover-shell">
        <div class="cover-inner">
            <header>
                <h2>상세 견적서</h2>
                <div class="logo-placeholder">
                    <img src="/assets/images/JLT_Logo.png" alt="JLT Logo">
                </div>
            </header>
            <table>
                <thead>
                    <tr>
                        <th class="col-number">No</th>
                        <th>품명</th>
                        <th>규격</th>
                        <th>수량</th>
                        <th>단위</th>
                        <th>단가</th>
                        <th>공급가액</th>
                        <th>비고</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="section-title"><td colspan="8">자재비 상세 내역</td></tr>
                    <tr>
                        <td>1</td><td>전장함</td><td></td><td>1</td><td>식</td><td>35,742,000</td><td>35,742,000</td><td></td>
                    </tr>
                    <tr>
                        <td>2</td><td>부분비</td><td></td><td>1</td><td>식</td><td>49,557,900</td><td>49,557,900</td><td></td>
                    </tr>
                    <tr>
                        <td>3</td><td>케이블 및 기타 잡자재</td><td></td><td>1</td><td>식</td><td>29,148,000</td><td>29,148,000</td><td></td>
                    </tr>
                    
                    <tr class="summary-row">
                        <td colspan="2">자재비 총 합계</td>
                        <td class="summary-white" colspan="4">Set</td>
                        <td class="summary-white total-amount">114,447,900</td>
                        <td class="summary-white"></td>
                    </tr>
                    <tr class="section-title"><td colspan="8">인건비 상세 내역</td></tr>
                    <tr class="section-subtitle">
                        <td>1</td>
                        <td >주액기</td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                    
                    <tr>
                        <td></td><td>전장설계</td><td></td><td>90</td><td>M/D</td><td>300,000</td><td>27,000,000</td><td>2인 * 50일 + 1인 * 30일</td>
                    </tr>
                    <tr>
                        <td></td><td>중판배선</td><td></td><td>150</td><td>M/D</td><td>240,000</td><td>36,000,000</td><td>10인 * 15일</td>
                    </tr>
                    <tr>
                        <td></td><td>기체배선</td><td></td><td>600</td><td>M/D</td><td>240,000</td><td>144,000,000</td><td>20인 * 30일</td>
                    </tr>
                    <tr>
                        <td></td><td>IO CHECK 및 대응</td><td></td><td>48</td><td>M/D</td><td>240,000</td><td>11,520,000</td><td>6인 * 8일</td>
                    </tr>
                    <tr>
                        <td></td><td>하네스 인건비</td><td></td><td>30</td><td>M/D</td><td>200,000</td><td>6,000,000</td><td>3인 * 10일</td>
                    </tr>
                    <tr>
                        <td></td><td>해체 및 포장</td><td></td><td>32</td><td>M/D</td><td>240,000</td><td>7,680,000</td><td>8인 * 4일</td>
                    </tr>
                    <tr class="summary-row">
                        <td colspan="2">인건비 총 합계</td>
                        <td class="summary-white"></td>
                        <td class="summary-white">1</td>
                        <td class="summary-white" colspan="2">Set</td>
                        <td class="summary-white total-amount">232,200,000</td>
                        <td class="summary-white"></td>
                    </tr>
                    <tr class="section-title"><td colspan="8">경비 상세 내역_국내</td></tr>
                    <tr>
                        <td>1</td><td>국내-운송비</td><td></td><td>1</td><td>식</td><td>1,000,000</td><td>1,000,000</td><td></td>
                    </tr>
                    <tr>
                        <td>2</td><td>국내-식비</td><td></td><td>710</td><td>M/D</td><td>30,000</td><td>21,300,000</td><td></td>
                    </tr>
                    <tr class="summary-row">
                        <td colspan="2">출장 경비 총 합계</td>
                        <td class="summary-white"></td>
                        <td class="summary-white">1</td>
                        <td class="summary-white">Set</td>
                        <td class="summary-white total-amount" colspan="3">22,300,000</td>
                    </tr>
                    <tr class="notes-row">
                        <td colspan="8" class="notes-header">비&nbsp;&nbsp;&nbsp;&nbsp;고&nbsp;(&nbsp;특이사항&nbsp;)</td>
                    </tr>
                    <tr class="notes-row">
                        <td colspan="8" class="notes-content"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">Total</td>
                        <td class="total-amount">368,947,900</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}
